asgiref
asn1crypto
astor
astroid
atomicwrites
attrs
audioread
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref
beautifulsoup4
bleach
certifi
cffi
chardet
click
colorama
cryptography
cycler
decorator
defusedxml
dj-database-url
Django
django-debug-toolbar
django-heroku
djangorestframework
entrypoints
filelock
future
gast
glob2
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
lazy-object-proxy
libarchive-c
librosa
llvmlite
Markdown
MarkupSafe
matplotlib
mccabe
mistune
more-itertools
nbconvert
nbformat
notebook
numba
numpy
olefile
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pkginfo
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
py
pycosat
pycparser
pydot
Pygments
pylint
pyOpenSSL
pyparsing
pyreadline
pyrsistent
PySocks
pytest
python-dateutil
pytz
pywinpty
PyYAML
pyzmq
QtPy
requests
resampy
scikit-learn
scipy
selenium
Send2Trash
six
soupsieve
sqlparse
tensorboard
tensorflow-macos
tensorflow-estimator
termcolor
terminado
testpath
toml
tornado
tqdm
traitlets
urllib3
wcwidth
webencodings
Werkzeug
whitenoise
widgetsnbextension
win-inet-pton
wincertstore
wrapt
xmltodict
zipp
